version: '3.8'

services:
  web:
    build: .
    ports:
      - '3000:3000'
      - '3001:3001'

    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=http://localhost:3001
    env_file:
      - ./backend/.env
    restart: unless-stopped

    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--quiet',
          '--tries=1',
          '--spider',
          'http://localhost:3000',
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
