services:
  web:
    # image: ghcr.io/evanwh1te/cville-kitchen-website:sha-29ba6db
    build: .
    ports:
      - '3000:3000'
    volumes:
      - ./testdata:/app/backend/data
    environment:
      - NODE_ENV=production
      - BACKEND_INTERNAL_URL=http://localhost:3001/api
      - COOKIE_INSECURE=true
      - DEBUG_COOKIES=true
      - DATABASE_URL=file:/app/backend/data/database.db
    env_file:
      - ./backend/.env
    restart: unless-stopped

    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--quiet',
          '--tries=1',
          '--spider',
          'http://localhost:3000',
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
